.map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.map.visible {
  opacity: 1;
}

// #indicators {
//   padding: 16px;
//   height: 40%;
//   width: 100%;
//   overflow-y: auto;
//   display: block;
// }
