<ion-header>
  <ion-toolbar color="darks">

    <ion-title class="ion-text-center">
      {{titulo}}
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" defaultHref>
      <ion-back-button defaultHref="/" text=""  ></ion-back-button>

<!--
       <ion-button fill="clear" [routerLink]="['/', 'pages', 'map']">
        <ion-icon name="logo-ionic"></ion-icon>
      </ion-button> -->
    </ion-buttons>

  </ion-toolbar>
</ion-header>
